// Setup
$colors: (
	"white":			#FFFFFF,
	"white-70":			#FFFFFFB3,
	"black":			#000000,
	"gray-light":		#EBEBEA,
	"gray-light-70":	#EBEBEAB3,
	"gray-dark":		#939393,
	"yellow":			#FFED00,
);
:root{
	@each $name, $value in $colors {
		--#{$name}: #{$value};
	}
	--transition-xs: cubic-bezier(.77,0,.175,1) 200ms;
	--transition-s: cubic-bezier(.77,0,.175,1) 400ms;
	--transition-m: cubic-bezier(.77,0,.175,1) 800ms;
	--transition-l: cubic-bezier(.77,0,.175,1) 1200ms;
	--gutter: .833rem;
	--sp-xxl: 10rem;
	--sp-xl: 7.5rem;
	--sp-l: 5rem;
	--sp-m: 2.5rem;
	--sp-s: 1.25rem;
	--sp-xs: 0.416rem;

	@media screen and (max-width: 1080px) {
		--sp-xl: 10rem;
		--sp-l: 5rem;
		--sp-m: 2.5rem;
		--sp-s: 1.25rem;
		--sp-xs: 0.416rem;
	}
}
html {
	-webkit-font-smoothing: antialiased;
	line-height: 1.2;
	color: var(--black);
	background-color: var(--lightGray);
}
main {
	padding: var(--margin) 4rem;
}

// Visibility
.hidden { display: none; }
.invisible { opacity: 0; pointer-events: none; }

.desktop-only { display: inherit; }
.mobile-only, .mobile-s-only { display: none; }

@media screen and (max-width: 1080px) {
  .desktop-only { display: none; }
  .mobile-only { display: inherit; }
}

@media screen and (max-width: 768px) {
  .desktop-s-only { display: none; }
  .mobile-s-only { display: inherit; }
}

// Buttons
.btn {
	&,
	&-xs,
	&-s,
	&-m,
	&-l {
		font-family: "Waldenburg", Helvetica, Arial, sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		display: inline-block;
		border-radius: 99em;
		color: var(--black);
		background-color: var(--white);
	}
	&-xs {
		font-size: .857rem;
		font-weight: 700;
		letter-spacing: .03em;
		line-height: 1.2;
		background-color: transparent;
		border-radius: unset;
		display: inline-block;
    	position: relative;
	}
	&-s {
		font-weight: 500;
		font-size: 1.5rem;
		letter-spacing: -0.01em;
		line-height: 1;
		background-color: transparent;
		border-radius: unset;
		display: inline-block;
    	position: relative;
	}
	&-m {
		font-weight: 800;
		font-size: .857rem;
		letter-spacing: .03em;
		line-height: 1;
		text-transform: uppercase;
		padding: .95em 2em 1em;
	}
	&-l {
		font-weight: 500;
		font-size: 1.5rem;
		letter-spacing: -0.01em;
		line-height: 1;
		padding: 1.15em 2em 1.2em;
	}
}

// Colors
@each $name, $value in $colors {
	.#{$name}       { color: $value; }
	.bg-#{$name}    { background-color: $value; }
	.fill-#{$name}  { fill: $value; }
	.stroke-#{$name}{ stroke: $value; }
	.border-#{$name}{ border: solid 1px $value; }
	
	.hover-#{$name}:hover { color: $value; }
	.hover-bg-#{$name}:hover { background-color: $value; }
	.hover-fill-#{$name}:hover { fill: $value; }
	.hover-stroke-#{$name}:hover { stroke: $value; }
	.hover-border-#{$name}:hover { border: solid 1px $value; }
}

// General
._9_21	{ aspect-ratio: 9/21; }
._9_16	{ aspect-ratio: 9/16; }
._2_3	{ aspect-ratio: 2/3; }
._3_4	{ aspect-ratio: 3/4; }
._4_5	{ aspect-ratio: 4/5; }
._1_1	{ aspect-ratio: 1/1; }
._5_4	{ aspect-ratio: 5/4; }
._4_3	{ aspect-ratio: 4/3; }
._3_2	{ aspect-ratio: 3/2; }
._16_9	{ aspect-ratio: 16/9; }
._21_9	{ aspect-ratio: 21/9; }
.shadow { box-shadow: 10px 5px 15px rgba(0, 0, 0, .1); }
.max-w-800 { max-width: 800px; }
.max-w-700 { max-width: 700px; }
.max-w-600 { max-width: 600px; }
.max-w-500 { max-width: 500px; }
.max-w-400 { max-width: 400px; }

figure {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
figure * {
	width: 100%;
	height: 100%;
	object-fit: cover;
}