@font-face {
  font-family: "Moderat";
  src:
  		// url("/fonts/KMRWaldenburg-Medium.woff2") format("woff2"),
		// url("/fonts/KMRWaldenburg-Medium.woff") format("woff"),
		url("/fonts/Moderat-Trial-Extended-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Moderat";
  src:
  		// url("/fonts/KMRWaldenburg-Medium.woff2") format("woff2"),
		// url("/fonts/KMRWaldenburg-Medium.woff") format("woff"),
		url("/fonts/Moderat-Trial-Extended-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Typography */
html {
	font-size: clamp(12px, calc(10px + 0.2646vw), 16px);
	// font-size: clamp(12px, 12px, 16px);
}
.md {
	&,
	&-12,
	&-18,
	&-24,
	&-36 {
		font-family: "Moderat", Helvetica, Arial, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	&-12		{ font-size: 1rem; letter-spacing: 0em; line-height: 1.1;}
	&-18		{ font-size: 1.5rem; letter-spacing: 0em; line-height: 1.1;}
	&-24		{ font-size: 2rem; letter-spacing: 0em; line-height: 1.1;}
	&-36		{ font-size: 3rem; letter-spacing: 0em; line-height: 1.1;}

	@media screen and (max-width: 768px) {
		&-12-mb	{ font-size: 1rem; letter-spacing: 0em; line-height: 1.1;}
		&-16-mb	{ font-size: 1.333rem; letter-spacing: 0em; line-height: 1.1;}
		&-20-mb	{ font-size: 1.666rem; letter-spacing: 0em; line-height: 1.1;}
		&-26-mb	{ font-size: 2.166rem; letter-spacing: 0em; line-height: 1.1;}
	}
}
.uppercase		{ text-transform: uppercase; }