@font-face {
  font-family: "Moderat";
  src: url("$lib/fonts/Moderat-Trial-Extended-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Moderat";
  src: url("$lib/fonts/Moderat-Trial-Extended-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Typography */
html {
	background-color: #EAE6E4;
	font-size: clamp(12px, calc(4px + 0.625vw), 16px);
}
.md {
	&,
	&-16,
	&-58 {
		font-family: "Moderat", Helvetica, Arial, sans-serif;
		font-weight: 400;
		font-style: normal;
	}
	&-16		{ font-size: 1.333rem; letter-spacing: 0em; line-height: 1.1;}
	&-58		{ font-size: 4.833rem; letter-spacing: 0em; line-height: 0.759;}

	@media screen and (max-width: 768px) {
		&-58	{ font-size: 3.5rem; }
	}
}